# Core Deep Learning Stack (Configured for CUDA 12.1 GPU acceleration)
--find-links https://download.pytorch.org/whl/cu121
torch==2.3.1+cu121
torchvision==0.18.1+cu121
torchaudio==2.3.1+cu121

# Data Parsing & Utilities
scipy==1.13.1
numpy==1.26.4
scikit-learn==1.5.0

# Visualization & Image Processing
matplotlib==3.9.0
opencv-python==4.9.0.80
